<h2>Búsquedas de países</h2>
<hr>

<!--
  con la propiedad accedemos a los routers que colocamos
  en el app-routing-module.ts

  con roterLinkActive se activa el url respectivo del cual estamos usando.
-->

<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item ">
    Home Page
  </li>

  <li
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </li>
  <li
    routerLink="contact"
    routerLinkActive="active"
    class="list-group-item">
    Contact Page
  </li>
</ul>
